/*================================== COMMON ==================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Open-Sans;
  src: url("sources/fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Open-Sans;
  src: url("sources/fonts/OpenSans-Bold.woff");
  font-weight: 600;
  font-style: normal;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.image {
  display: block;
}

/*========================================= MEDIA =========================================*/

/*================================== MOBILE ==================================*/

@media (max-width: 640px) {

/*=== MOBILE HEADER ===*/

  .header {
    padding: 31px 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("sources/img/banner-mobile.jpg");
    position: relative;
  }

  .header::after {
    content: "";
    background-color: #000000;
    position: absolute;
    opacity: 0.6;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .header-wrapper {
    padding: 0;
  }

  .logo {
    display: none;
  }

  .logo-mobile {
    display: block;
    width: 330px;
    padding: 0 30px;
    margin-top: 174px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-header {
    justify-content: flex-end;
  }

  .menu-list {
    display: none;
  }

  .intro {
    font-size: 26px;
    line-height: 1.4;
    padding: 0 30px;
    margin-top: 45px;
    margin-bottom: 220px;
  }

  /*=== MOBILE TRENDS ===*/

  .trends {
    margin: 45px 0;
  }

  .section-header {
    margin-bottom: 25px;
    font-size: 16px;
  }

  .trends-container {
    flex-direction: column;
  }

  .trends-box {
    width: 100%;
    margin-bottom: 4px;
    min-height: 230px;
  }

  .trends-title {
    font-size: 16px;
  }

  /*=== MOBILE MAIN ===*/

  .page-content-wrapper {
    padding: 0 15px;
    max-width: 1200px;
    flex-direction: column;
  }

  .main {
    margin-bottom: 45px;
  }

  .article {
    flex-direction: column;
    border-bottom: 3px solid #eeeeee;
    margin-bottom: 40px;
  }

  .article-image {
    width: 100%;
    max-width: 381px;
  }

  .article-header {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 1.2;
  }

  .article-text {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .tag-list {
    margin-top: 15px;
  }

  .aside {
    width: 100%;
  }

  .latest-posts-box {
    width: 100%;
  }

  /*=== MOBILE SHOP ===*/

  .shop {
    padding: 0 36px;
  }

  .products {
    flex-direction: column;
  }

  .product-wrapper {
    width: 100%;
  }

  .product {
    margin: 0 auto;
  }

  /*=== MOBILE FOOTER ===*/

  .footer {
    padding: 0 15px;
  }

  .address {
    margin-bottom: 35px;
  }

  /*=== MOBILE POPUP ===*/

  .popup-container {
    width: 91.67%;
    max-width: 390px;
    padding: 30px 25px;
  }

  .popup-header {
    font-size: 16px;
    line-height: 1.5;
  }

  .popup-close {
    background: url("sources/svg/form-x.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -33px;
  }
}

@media (max-width: 640px) and (orientation: landscape) {

/*=== MOBILE TRENDS ===*/

  .trends-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .trends-box {
    width: calc(50% - 2px);
    margin-bottom: 4px;
    min-height: 247px;
  }

  .trends-box:nth-child(2n-1) {
    margin-right: 4px;
  }
}
/*================================== TABLET ==================================*/

@media (min-width: 641px) and (max-width: 1199px) {

/*=== TABLET HEADER ===*/

  .header {
    padding: 43px 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("sources/img/banner-bg-tablet.jpg");
    position: relative;
  }

  .header::after {
    content: "";
    background-color: #000000;
    position: absolute;
    opacity: 0.6;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .header-wrapper {
    padding: 0 15px;
  }

  .logo {
    display: block;
    width: 158px;
  }

  .main-header {
    justify-content: space-between;
  }

  .logo-mobile {
    display: none;
  }

  .menu-list {
    display: none;
  }

  .intro {
    font-size: 40px;
    line-height: 1.4;
    padding-top: 93px;
    padding-bottom: 93px;
  }

  /*=== TABLET TRENDS ===*/

  .trends {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .section-header {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .trends-container {
    flex-wrap: wrap;
  }

  .trends-box {
    width: calc(50% - 2px);
    margin-bottom: 4px;
    min-height: 247px;
  }

  .trends-box:nth-child(2n-1) {
    margin-right: 4px;
  }

  .trends-title {
    font-size: 17px;
  }

  /*=== TABLET MAIN ===*/

  .page-content-wrapper {
    padding: 0 35px;
    justify-content: space-between;
  }

  main {
    margin-right: 5.02%;
  }

  .article {
    flex-direction: column;
    border-bottom: 3px solid #eeeeee;
    margin-bottom: 40px;
  }

  .article-header {
    margin-bottom: 25px;
    font-size: 17px;
    line-height: 1.3;
  }

  .article-image {
    width: 100%;
    max-width: 381px;
  }

  .article-text {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .tag-list {
    margin-top: 15px;
  }

  .aside {
    width: 272px;
  }

  .latest-posts-box {
    width: 272px;
  }

  /*=== TABLET SHOP ===*/

  .shop {
    padding: 0 35px;
  }

  .product-wrapper {
    width: 40.1%;
    margin-left: 4.95%;
    margin-right: 4.95%;
  }

  .product-header {
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 1.3;
  }

  /*=== TABLET FOOTER ===*/

  .footer {
    padding: 0 35px;
  }

  .address {
    margin-bottom: 74px;
  }

  /*=== TABLET POPUP ===*/

  .popup-container {
    width: 390px;
    padding: 54px 30px;
  }

  .popup-header {
    font-size: 18px;
    line-height: 1.5;
  }

  .popup-close {
    background: url("sources/svg/form-x.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -33px;
  }
}

/*================================== DESKTOP ==================================*/

@media (min-width: 1200px) {
  
  /*=== DESKTOP HEADER ===*/

  .header {
    padding: 35px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("sources/img/banner-bg.jpg");
    position: relative;
  }

  .header::after {
    content: "";
    background-color: #000000;
    position: absolute;
    opacity: 0.6;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .header-wrapper {
    padding: 0 15px;
  }

  .logo {
    display: block;
    width: 180px;
  }

  .main-header {
    justify-content: space-between;
  }

  .logo-mobile {
    display: none;
  }

  .menu-list {
    list-style-type: none;
    display: flex;
  }

  .menu-button {
    display: none;
  }

  .intro {
    font-size: 45px;
    line-height: 1.7;
    padding-top: 93px;
    padding-bottom: 93px;
  }

  /*=== DESKTOP TRENDS ===*/

  .trends {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .section-header {
    margin-bottom: 33px;
    font-size: 20px;
  }

  .trends-box {
    width: 25%;
    min-height: 320px;
  }

  .trends-box:not(:last-child) {
    margin-right: 4px;
  }

  .trends-title {
    font-size: 20px;
  }

  .page-content-wrapper {
    padding: 0 15px;
    justify-content: space-between;
  }

  .article {
    margin-bottom: 55px;
  }

  .article-pic {
    margin-right: 30px;
  }

  .article-image {
    width: 381px;
  }

  .article-header {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1.2;
  }

  .article-text {
    margin-top: 55px;
  }

  .aside {
    width: 272px;
  }

  .latest-posts-box {
    width: 272px;
  }

  /*=== DESKTOP SHOP ===*/

  .shop {
    padding: 0 15px;
  }

  .product-wrapper {
    width: 26.6%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .product-header {
    margin-bottom: 14px;
    font-size: 20px;
    line-height: 1.2;
  }

  /*=== DESKTOP FOOTER ===*/

  .footer {
    padding: 0 15px;
  }

  .address {
    margin-bottom: 74px;
  }

  /*=== DESKTOP POPUP ===*/

  .popup-container {
    width: 390px;
    padding: 54px 30px;
  }

  .popup-header {
    font-size: 20px;
    line-height: 1.5;
  }

  .popup-close {
    background: url("sources/svg/form-x.svg");
    background-repeat: no-repeat;
    background-size: 18px;
    width: 18px;
    height: 18px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -25px;
  }
}

/*========================================= END MEDIA =========================================*/

/*================================== HEADER ==================================*/

.header {
  background-color: #000000;
}

.header-wrapper {
  max-width: 1200px;
  margin: auto;
  z-index: 1;
  position: relative;
}

.main-header {
  display: flex;
  align-items: center;
}

.menu-list-item {
  margin-left: 16px;
  margin-right: 16px;
}

.menu-link {
  color: white;
  font-family: Open-Sans, sans-serif;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
}

.menu-link:hover {
  text-decoration: underline;
}

.menu-button {
  width: 1em;
  height: 0.4em;
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 25px;
  position: relative;
  text-indent: -9999px;
  cursor: pointer;
}

.menu-button::before,
.menu-button::after {
  content: "";
  width: 100%;
  height: 20%;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}

.menu-button::before {
  top: 0;
}

.menu-button::after {
  bottom: 0;
}

.menu-button-label {
  width: 100%;
  height: 20%;
  margin-top: -0.54em;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 50%;
}

.intro {
  color: white;
  font-family: Open-Sans, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/*================================== TRENDS ==================================*/

.section-header {
  color: black;
  font-family: Open-Sans, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.section-header::after {
  content: "";
  display: block;
  margin: 15px auto 0;
  background-color: #b59f5b;
  opacity: 0.4;
  width: 66px;
  height: 3px;
}

.trends-container {
  display: flex;
}

.trends-box {
  padding: 15px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #eff6f1;
}

.trends-box::after {
  content: "";
  background-color: #000000;
  position: absolute;
  opacity: 0.6;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.trends-box-wrapper {
  border: 3px solid #b59f5b;
  border-color: rgba(181, 159, 91, 0.6);
  position: relative;
  z-index: 1;
  padding: 37px 34px;
}

.trend-pic-first {
  background-image: url("sources/img/trend1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.trend-pic-second {
  background-image: url("sources/img/trend2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.trend-pic-third {
  background-image: url("sources/img/trend3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.trend-pic-fourth {
  background-image: url("sources/img/trend4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.trends-title {
  line-height: 1.2;
  font-family: Open-Sans, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.trends-title-link {
  color: white;
  text-decoration: none;
}

.trends-title-link:hover {
  color: #b59f5b;
  text-decoration: none;
}

.trends-tag-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

/*================================== MAIN ==================================*/

.page-content {
  margin: 64px 0;
}

.page-content-wrapper {
  max-width: 1200px;
  margin: auto;
  display: flex;
}

.main {
  max-width: 780px;
}

.article {
  display: flex;
}

.article:last-child {
  margin-bottom: 0;
}

.tag-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.tag-list-item:not(:last-child) {
  margin-right: 20px;
}

.tag-link {
  color: #b59f5b;
  font-family: Open-Sans, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.tag-link:hover {
  text-decoration: underline;
}

.article-header {
  font-family: Open-Sans, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.article-header-link {
  color: black;
  text-decoration: none;
}

.article-header-link:hover {
  color: #b59f5b;
  text-decoration: none;
}

.info-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.info-list-item:not(:last-child) {
  margin-right: 10px;
}

.article-time {
  color: #888888;
  font-family: Open-Sans, sans-serif;
  font-size: 12px;
}

.article-author {
  font-family: Open-Sans, sans-serif;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
}

.article-paragraph {
  font-family: Open-Sans, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  text-decoration: none;
  margin-bottom: 10px;
}

.article-paragraph:last-child {
  margin-bottom: 0;
}

.aside-section:not(:last-child) {
  margin-bottom: 60px;
}

.aside-header {
  margin-bottom: 33px;
  color: black;
  font-family: Open-Sans, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.aside-header::after {
  content: "";
  display: block;
  margin: 15px auto 0;
  background-color: #b59f5b;
  opacity: 0.4;
  width: 66px;
  height: 3px;
}

.latest-posts-box {
  display: flex;
  margin-bottom: 22px;
}

.latest-posts-box:last-child {
  margin-bottom: 0;
}

.latest-posts-pic {
  margin-right: 20px;
}

.latest-posts-time {
  display: block;
  color: #000000;
  opacity: 0.54;
  font-family: Open-Sans, sans-serif;
  font-size: 12px;
  margin-bottom: 2px;
}

.latest-posts-header {
  font-family: Open-Sans, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.latest-posts-header-link {
  color: black;
  text-decoration: none;
}

.latest-posts-header-link:hover {
  color: #b59f5b;
  text-decoration: none;
}

.aside-forms {
  margin: 0 auto;
  max-width: 320px;
}

.search-form {
  display: flex;
  width: 100%;
}

.search-label {
  width: 85.45%;
}

.search-field {
  width: 100%;
  height: 48px;
  border: none;
  background-color: #f4f7f6;
  padding: 5px 18px;
  font-family: Open-Sans, sans-serif;
  font-size: 13px;
  line-height: 3;
  color: rgba(0, 0, 0, 0.54);
}

.search-field:focus {
  border: 1px solid #b59f5b;
  outline: none;
}

.search-button {
  width: 48px;
  height: 48px;
  border: none;
  background-color: #b59f5b;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center center;
  background-image: url("sources/svg/search.svg");
  cursor: pointer;
}

.search-button:hover {
  background-color: #323232;
}

.subscription-field {
  width: 100%;
  height: 48px;
  border: none;
  background-color: #f4f7f6;
  padding: 5px 18px;
  margin-bottom: 18px;
  font-family: Open-Sans, sans-serif;
  font-size: 13px;
  line-height: 3;
  color: rgba(0, 0, 0, 0.54);
}

.subscription-field:focus {
  border: 1px solid #b59f5b;
  outline: none;
}

.subscription-button {
  width: 100%;
  height: 48px;
  border: none;
  background-color: #b59f5b;
  color: white;
  font-family: Open-Sans, sans-serif;
  font-size: 14px;
  line-height: 2.8;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.subscription-button:hover {
  background-color: #323232;
}

.aside-tag-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.aside-tag-list-item {
  margin-right: 5px;
  margin-bottom: 10px;
  border: 3px solid #eeeeee;
}

.aside-tag-list-item:last-child {
  margin-right: 0;
}

.aside-tag-link {
  padding: 4px 12px;
  display: block;
  color: black;
  font-family: Open-Sans, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.aside-tag-list-item:hover {
  border: 3px solid #b59f5b;
}

.categories {
  list-style-type: none;
}

.categories-list-item {
  border-bottom: 1px solid #eeeeee;
}

.categories-link {
  color: black;
  font-family: Open-Sans, sans-serif;
  font-size: 14px;
  line-height: 3.3;
  font-weight: bold;
  text-decoration: none;
}

.categories-link:hover {
  color: #b59f5b;
}

.categories-quantity {
  color: #b59f5b;
  font-family: Open-Sans, sans-serif;
  font-size: 12px;
  line-height: 3;
  font-weight: bold;
  vertical-align: super;
}

/*================================== SHOP ==================================*/

.shop {
  max-width: 1200px;
  margin: auto;
  margin-top: 64px;
  margin-bottom: 34px;
}

.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-wrapper {
  display: flex;
}

.product {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.product-body {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-bottom: 25px;
  flex-grow: 1;
}

.product-body::after {
  content: "";
  width: 100%;
  height: 100%;
  outline: 3px solid rgba(181, 159, 91, 0.6);
  outline-offset: 20px;
  top: -23px;
  position: absolute;
  z-index: -1;
}

.product-content {
  padding-top: 20px;
}

.product-pic {
  margin-left: auto;
  margin-right: auto;
  z-index: -2;
}

.product-header {
  font-family: Open-Sans, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.shop-link {
  color: #b59f5b;
  text-decoration: none;
}

.shop-link:hover {
  color: #b59f5b;
  text-decoration: underline;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 27px;
}

.product-prices {
  display: flex;
  flex-direction: column;
}

.product-description {
  font-family: Open-Sans, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  text-decoration: none;
  margin-bottom: 10px;
  width: 100%;
}

.product-price-old {
  color: black;
  font-weight: bold;
  font-family: Open-Sans, sans-serif;
  font-size: 14px;
  text-decoration: line-through;
}

.product-price {
  color: black;
  font-weight: bold;
  font-family: Open-Sans, sans-serif;
  font-size: 20px;
  line-height: 1.2;
}

.product-price-currency {
  font-weight: bold;
  margin-left: 5px;
}

.product-button {
  width: 50%;
  height: 48px;
  border: none;
  background-color: #b59f5b;
  color: white;
  font-family: Open-Sans, sans-serif;
  font-size: 14px;
  line-height: 2.8;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.product-button:hover {
  background-color: #323232;
}

/*================================== FOOTER ==================================*/

.footer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.address {
  background-color: #f4f7f6;
  padding: 31px 0;
}

.socials {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-list-item {
  margin-right: 14px;
  margin-left: 14px;
}

.socials-pic {
  width: 24px;
  height: 24px;
  display: flex;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center center;
}

.socials-pic:hover {
  background-size: 24px;
}

.twitter-pic {
  background-image: url("sources/svg/004-twitter.svg");
}

.pinterest-pic {
  background-image: url("sources/svg/001-pinterest.svg");
}

.facebook-pic {
  background-image: url("sources/svg/002-facebook-logo.svg");
}

.instagram-pic {
  background-image: url("sources/svg/005-instagram.svg");
}

.tumblr-pic {
  background-image: url("sources/svg/003-tumblr.svg");
}

.copyright {
  text-align: center;
  font-family: Open-Sans, sans-serif;
  font-size: 12px;
  line-height: 3.3;
  font-weight: bold;
}

.copyright-link {
  color: #999999;
  text-decoration: none;
}

/*================================== POPUP ==================================*/

.popup {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 9999;
}

.popup-container {
  margin: auto;
  background-color: #ffffff;
  position: relative;
}

.popup-header {
  color: black;
  font-family: Open-Sans, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.popup-header::after {
  content: "";
  display: block;
  margin: 5px auto 0;
  background-color: #b59f5b;
  opacity: 0.4;
  width: 66px;
  height: 3px;
}

.popup-paragraph {
  font-family: Open-Sans, sans-serif;
  font-size: 13px;
  text-decoration: none;
  margin-bottom: 10px;
}

.survey {
  margin-bottom: 35px;
}

.popup-field {
  width: 100%;
  border: none;
  background-color: #f4f7f6;
  font-family: Open-Sans, sans-serif;
  font-size: 13px;

  color: rgba(0, 0, 0, 0.54);
}

.popup-field:focus {
  border: 1px solid #b59f5b;
  outline: none;
}

.wish-field {
  padding: 25px 18px;
  height: 130px;
  resize: none;
}

.select-field {
  padding: 5px 18px;
  height: 48px;
  background-image: url("sources/svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.popup-radio:not(:last-child) {
  margin-right: 15px;
}

.radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.radio-text {
  font-family: Open-Sans, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}

.radio-text::before {
  content: "";
  margin-right: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-image: url("sources/svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}

.radio:checked ~ .radio-text::before {
  background-image: url("sources/svg/form-circle.svg");
}

.popup-button {
  width: 100%;
  height: 48px;
  border: none;
  background-color: #b59f5b;
  color: white;
  font-family: Open-Sans, sans-serif;
  font-size: 14px;
  line-height: 2.8;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.popup-button:hover {
  background-color: #323232;
}

.hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}
